@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: grid;
  grid-template-columns: 20% 80%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.main-container .sidebar {
  background: #38bdf8;
  color: white;
}

.main-container .sidebar .sidebar__header {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 1.3rem;
}

.sidebar__header .icono {
  fill: white;
  width: 30px;
  height: 30px;
}
